*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body{
    background-color: #f0f0f0;            
}
.container{
    width: 500px;            
    margin-left: 350px;
    margin-top: 50px;
}
h1{
    text-align: center;
}
.head{
    text-align: center;
    padding: 5px 5px 15px 5px;
}    
.row{
    background-color: bisque;
} 
ul{
    list-style: none;
}
ul,li{
    display: inline-block;
    margin-left: 10px;
    padding-left: 30px;;
}
ul,li,a{
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    color: white;
    background-color: blanchedalmond;
}